doctype html
html(lang="en")

	head
		meta(charset='utf-8')
		title= Vetafi
		link(rel='stylesheet', href='css/main.css')
		script(type='text/javascript', src='libs/libs.js')
		script(type='text/javascript', src='js/main.js')

	body(ng-app="vetafiApp").vfi-body-style
		.vfi-header
			.vfi-header-content(ng-controller="headerCtrl")
				a.vfi-header-logo-wrapper(href="/")
					img.vfi-header-logo-img(src='../icons/logo.png')
					.vfi-header-logo Vetafi
				.vfi-header-links
					a(href='/signup' ng-if='!isLoggedIn')
						| Sign Up
						.vfi-underline-border
					a(href='/login' ng-if='!isLoggedIn')
						| Log In
						.vfi-underline-border
					a(href='#/profile' ng-if='isLoggedIn')
						| My Profile
						.vfi-underline-border

		.vfi-main-view-wrapper(ng-view)
