doctype html
html(lang="en")

	head
		meta(charset='utf-8')
		title= Vetafi
		link(rel='stylesheet', href='css/main.css')
		script(type='text/javascript', src='libs/libs.js')
		script(type='text/javascript', src='js/main.js')
		base(href='/')

	body(ng-app="vetafiApp").vfi-body-style
		.vfi-header
			.vfi-header-content(ng-controller="headerCtrl")
				a.vfi-heading-style.vfi-header-logo(href="/") Vetafi
				.vfi-header-menu

		.vfi-main-view-wrapper(ng-view)
