// US Gov Color Palette Standards ---> https://standards.usa.gov/visual-style/#palette
colorPrimaryBlue = #0071bc
colorPrimaryDarkBlue = #205493
colorWhite = #ffffff
colorBlack = #212121
colorLightGray = #aeb0b5
colorWarmLightGray = #e4e2e0
colorWarmDarkGray = #494440
colorLightBlue = #02bfe7
colorRed = #e31c3d

colorFacebook = #3b5998
