@import "colors.styl"
@import "spacing.styl"
@import "text-styles.styl"
@import "media-screens.styl"

//
// Body CSS
//
body
	margin: 0
	background-color: colorWarmLightGray
	// default-text-style
	font-family: SourceSansPro
	font-weight: 400
	font-size: 17px
	line-height: 26px
	letter-spacing: 1px

	& a
		color: colorRed
		text-decoration: none

		&:hover
			text-decoration: underline

	& button
		padding: 10px 20px
		border-radius: 6px
		background-color: colorPrimaryDarkBlue
		border: none
		outline: none
		color: white
		font-size: 14px
		letter-spacing: 1px

		&:hover
			filter: brightness(1.2)
			-webkit-filter: brightness(1.2)
			-moz-filter: brightness(1.2)
			-ms-filter: brightness(1.2)
			cursor: pointer

.vfi-main-view-wrapper
	width: 80%
	max-width: 800px
	margin: megaSpacing auto
	padding: largeSpacing
	box-sizing: border-box
	border: 2px solid colorWarmDarkGray
	background-color: colorWhite

	@media screen and (max-width: tabletWidth)
		width: 80%
		margin: largeSpacing auto
		padding: mediumSpacing

	@media screen and (max-width: mobileWidth)
		width: 100%
		border: none
		margin: smallSpacing 0
		padding: smallSpacing


//
// Header CSS
//
.vfi-header
	width: 100%
	height: megaSpacing
	background-color: colorPrimaryBlue

.vfi-header-content
	width: 80%
	height: 100%
	margin: 0 auto
	max-width: 800px

.vfi-header-logo
	float: left
	height: 100%
	line-height: megaSpacing !important
	font-size: 40px
	letter-spacing: 2px
	color: colorWhite

	&:hover
		text-decoration: none

.vfi-header-menu
	position: relative
	top: 10px
	float: right
	width: 40px
	height: 40px
	background-color: colorBlack

	&:hover
		cursor: pointer
