//
// US Gov Typography Standards ---> https://standards.usa.gov/visual-style/#pairings
//
@font-face
	font-family Merriweather
	src url('../fonts/Merriweather/Merriweather-Regular.ttf');

@font-face
	font-family SourceSansPro
	src url('../fonts/SourceSansPro/SourceSansPro-Regular.ttf');

heading1_weight = 700
heading1_size = 30px
heading1_lineHeight = 39px
heading1_letterSpacing = 1.5px

heading1_big_size = 40px
heading1_big_lineHeight = 52px
heading1_big_letterSpacing = 2px

heading1_small_size = 20px
heading1_small_lineHeight = 26px
heading1_small_letterSpacing = 1px

bodyFont_weight = 400
bodyFont_size = 17px
bodyFont_lineHeight = 26px
bodyFont_letterSpacing = 1px

bodyFont_big_size = 20px
bodyFont_big_lineHeight = 34px


//
// US Gov Color Palette Standards ---> https://standards.usa.gov/visual-style/#palette
//
colorPrimaryBlue = #0071bc
colorPrimaryDarkBlue = #205493
colorWhite = #ffffff
colorBlack = #212121
colorLightGray = #aeb0b5
colorWarmLightGray = #e4e2e0
colorWarmDarkGray = #494440
colorDarkGray = #323a45
colorLightBlue = #02bfe7
colorRed = #e31c3d
colorYellow = #fdb81e
colorPurple = #4c2c92
colorFocusBlue = #3e94cf
colorGreen = #2e8540
colorFacebook = #3b5998


//
// US Gov Spacing Standards ---> https://standards.usa.gov/visual-style/#typesetting
// Should be used for spacing out headings
//
smallSpacing = 15px
mediumSpacing = 20px
largeSpacing = 30px
megaSpacing = 60px


//
// Window Screen Widths
//
maxWindowWidthPx = 800px
minWindowWidthPx = 640px

//
// Misc.
//
maxLayoutWidthPx = 720px
maxLayoutWidthPct = 80%
headerHeightPx = 60px
