//
// US Gov Typography Standards ---> https://standards.usa.gov/visual-style/#pairings
//
@font-face
	font-family Merriweather
	src url('../fonts/Merriweather/Merriweather-Black.ttf');

@font-face
	font-family SourceSansPro
	src url('../fonts/SourceSansPro/SourceSansPro-Black.ttf');

.vfi-heading-style
	font-family: Merriweather
	font-weight: 700
	font-size: 30px
	line-height: 39px
	letter-spacing: 1.5px

	&.vfi-big
		font-size: 40px
		line-height: 52px
		letter-spacing: 2px

	&.vfi-small
		font-size: 20px
		line-height: 26px
		letter-spacing: 1px

.vfi-body-style
	font-family: SourceSansPro
	font-weight: 400
	font-size: 17px
	line-height: 26px
	letter-spacing: 1px

	&.vfi-big
		font-size: 20px
		line-height: 34px


//
// US Gov Color Palette Standards ---> https://standards.usa.gov/visual-style/#palette
//
colorPrimaryBlue = #0071bc
colorPrimaryDarkBlue = #205493
colorWhite = #ffffff
colorBlack = #212121
colorLightGray = #aeb0b5
colorWarmLightGray = #e4e2e0
colorWarmDarkGray = #494440
colorLightBlue = #02bfe7
colorRed = #e31c3d
colorFacebook = #3b5998


//
// US Gov Spacing Standards ---> https://standards.usa.gov/visual-style/#typesetting
// Should be used for spacing out headings
//
smallSpacing = 15px
mediumSpacing = 20px
largeSpacing = 30px
megaSpacing = 60px


//
// Screen Widths
//
mobileWidth = 480px
tabletWidth = 640px
