@font-face
	font-family Merriweather
	src url('../fonts/Merriweather/Merriweather-Black.ttf');

@font-face
	font-family SourceSansPro
	src url('../fonts/SourceSansPro/SourceSansPro-Black.ttf');

//
// US Gov Typography Standards ---> https://standards.usa.gov/visual-style/#pairings
//
.vfi-heading-style
	font-family: Merriweather
	font-weight: 700
	font-size: 30px
	line-height: 39px
	letter-spacing: 1.5px

	&.vfi-big
		font-size: 40px
		line-height: 52px
		letter-spacing: 2px

	&.vfi-small
		font-size: 20px
		line-height: 26px
		letter-spacing: 1px

.vfi-body-style
	font-family: SourceSansPro
	font-weight: 400
	font-size: 17px
	line-height: 26px
	letter-spacing: 1px

	&.vfi-big
		font-size: 20px
		line-height: 34px
