.vfi-profile-view(ng-controller="profileCtrl")
  .vfi-profile-container
    .vfi-profile-section.my-info
      .vfi-profile-column.vfi-pic
        .vfi-profile-pic-wrapper
          button.vfi-change-pic-btn
            .vfi-camera-icon
            | Change profile picture
          img.vfi-profile-pic(ng-src="{{userInfo.profileSrc || '../icons/default-profile.svg'}}" ng-class="{'vfi-default' : !userInfo.profileSrc}")
          .vfi-name FirstName
          .vfi-name MiddleName
          .vfi-name LastName
          .vfi-name Suffix (Jr. Sr. III)

      .vfi-profile-column.vfi-info
        button.vfi-edit-btn(ng-click="clickEdit()")
          .vfi-edit-icon
          | Edit
        .vfi-section-header.vfi-info My Information
        .vfi-section-content.vfi-info
          .vfi-content
            .vfi-line Email
            .vfi-line Date of Birth
            .vfi-line Address
            .vfi-line Gender (?)

          .vfi-content
            .vfi-line Military Id
            .vfi-line Date of Discharge
            .vfi-line Military History
            .vfi-line * Military Rank
            .vfi-line * Military Branch
            .vfi-line * Military Years of Service

    .vfi-profile-section.claims
      .vfi-section-header File Claims History
      .vfi-section-content(ng-if="claims.length == 0")
        | You have no file pending claims at the moment.
    .vfi-profile-section.options
      .vfi-section-header Options
      .vfi-section-content
        | Log out of your account
        button.vfi-option-btn.logout(ng-click="clickLogout()") Log out
      .vfi-section-content
        | Delete your account and remove all your content
        button.vfi-option-btn.delete-account(ng-click="clickDeleteAccount()") Delete Account
