doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title=Vetafi
    link(rel='stylesheet', href='../css/main.css')
    script(type='text/javascript', src='../libs/libs.js')
    script(type='text/javascript', src='../js/main.js')

  body.vfi-signup-view
    .vfi-signup-title
      h3 Sign up with your email account
    .vfi-signup-form-wrapper
      input(placeholder="Email", type="text")
      input(placeholder="Password", type="password")

      button.vfi-submit-btn
        .vfi-progress
        .vfi-txt Sign Up
