// h1 Facebook Sign-in
// .fb-like(data-share="true", data-width="450", data-show-faces="true")

.vfi-signin-view(ng-controller="signInCtrl")

  // If at '/signup'
  .vfi-signup-view(ng-if="atSignupPage")
    .vfi-signin-title
      h3 Sign up with your Facebook account
    button.vfi-fb-btn
      img.fb-icon(src="../icons/fb_icon.svg")
      | Sign In
    .vfi-signin-divisor
      .vfi-border-div
      | Or
      .vfi-border-div
    .vfi-signin-title
      h3 Sign up with your email account
    .vfi-signin-form-wrapper
      input(placeholder="First name", type="text")
      input(placeholder="Middle name", type="text")
      input(placeholder="Last name", type="text")
      input(placeholder="Email", type="text")
      input(placeholder="Password", type="password")

      button.vfi-submit-btn(ng-click="onClickSubmit($event)")
        .vfi-progress
        .vfi-txt Sign in

  // If at '/login'
  .vfi-login-view(ng-if="atLoginPage")
    h3 Log in with your Facebook account
    button.vfi-fb-btn
      img.fb-icon(src="../icons/fb_icon.svg")
      | Log In
    .vfi-signin-divisor
      .vfi-border-div
      | Or
      .vfi-border-div
    h3 Log in using your email
    .vfi-login-form-wrapper
      input.vfi-input-email(placeholder="Email", type="text")
      input.vfi-input-password(placeholder="Password", type="password")
      button.vfi-submit-btn(ng-click="onClickSubmit($event)")
        .vfi-progress
        .vfi-txt LOG IN
