//
// US Gov Typography Standards ---> https://standards.usa.gov/visual-style/#pairings
//
@font-face
	font-family Merriweather
	src url('../fonts/Merriweather/Merriweather-Regular.ttf');

@font-face
	font-family SourceSansPro
	src url('../fonts/SourceSansPro/SourceSansPro-Regular.ttf');

heading1_weight = 700
heading1_size = 30px								// 30px
heading1_lineHeight = 1.3em					// 39px
heading1_letterSpacing = 1.5px			// 1.5px

heading1_big_size = 40px						// 40px
heading1_big_lineHeight = 1.3em			// 52px
heading1_big_letterSpacing = 2px		// 2px

heading1_small_size = 20px					// 20px
heading1_small_lineHeight = 1.3em		// 26px
heading1_small_letterSpacing = 1px	// 1px

heading1_smaller_size = 17px					// 17px
heading1_smaller_lineHeight = 1.3em		// 22px

heading1_mini_size = 15px						// 17px
heading1_mini_lineHeight = 1.3em		// 22px

bodyFont_weight = 400
bodyFont_size = 17px								// 17px
bodyFont_lineHeight = 1.5em					// 26px
bodyFont_letterSpacing = 1px				// 1px

bodyFont_big_size = 20px						// 20px
bodyFont_big_lineHeight = 1.7em			// 34px


//
// US Gov Color Palette Standards ---> https://standards.usa.gov/visual-style/#palette
//
colorPrimaryBlue = #0071bc
colorPrimaryDarkBlue = #205493
colorWhite = #ffffff
colorBlack = #212121
colorLightGray = #aeb0b5
colorWarmLightGray = #e4e2e0
colorWarmDarkGray = #494440
colorDarkGray = #323a45
colorLightBlue = #02bfe7
colorRed = #e31c3d
colorYellow = #fdb81e
colorYellowLight = #f9c642
colorPurple = #4c2c92
colorFocusBlue = #3e94cf
colorGreen = #2e8540
colorFacebook = #3b5998


//
// US Gov Spacing Standards ---> https://standards.usa.gov/visual-style/#typesetting
// Should be used for spacing out headings
//
miniSpacing = 0.5em
smallSpacing = 1em
mediumSpacing = 1.5em
largeSpacing = 2em
megaSpacing = 4em


//
// Window Screen Widths
//
maxWindowWidthPx = 800px
minWindowWidthPx = 640px

//
// Misc.
//
maxLayoutWidthPx = 720px
maxLayoutWidthPct = 80%
headerHeightPx = 60px
